<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}Django Photo Blog{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %} Anasayfa anahtar kelimeler {% endblock %}">
<meta name="description" content="{% block description %} Anasayfa anahtar kelimeler {% endblock %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
<link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
<!-- JS
================================================== -->
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/jquery.custom.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });

});

 $(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        slideshow: true,
        start: function(slider){
          $('body').removeClass('loading');
        }
    });
});

</script>


<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-touch-icon-114x114.png' %}">


{% block head %}{% endblock %}
</head>
<body class="home">
<div class="container">
    <!-- Color Bars (above header)-->
	<div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    {% include 'header.html'%}
    {% block sidebar %}{% endblock %}
    {% block slider %}{% endblock %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
    {% block subfooter %}{% endblock %}
</div>
</body>
</html>
