
<div class="row headline" ><!-- Begin Headline -->
    {% load static %}
    <!-- Slider Carousel
   ================================================== -->

    <div class="span8" >
        <div class="flexslider">
            <ul class="slides">
                {% for rs in sliderdata %}
                <li><a href="/product/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="slider" /><center>{{ rs.title }}</center></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Headline Text
    ================================================== -->
    <div class="span4">

        <h3>Photo Blog Sitesine Hoşgeldiniz!</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium vulputate magna sit amet blandit.</p>
        <p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum ligula orci et tortor. In sit amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices.</p>
        <p>{{ setting.description }}</p>
        <a href="#"><i class="icon-plus-sign"></i>Read More</a>
    </div>
</div><!-- End Headline -->
