<div class="content">
    </div>
{% extends "homebase.html" %}

{% block title %} Kullanıcı Blogları - {{ profile.user.username }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}


{% block content %}

    <div class="row"><!--Container row-->

        <div class="span12"><!--Begin page content column-->

            <h2>User Panel</h2>
            <br>
            <h4>User Blogs</h4>
            <br>
        {% if messages %}
            {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                    </div>
                {% endfor %}
            <br>
            {% endif %}

            <table border=1 frame=void rules=rows>
                <tr>
                    <th class="text">Photo </th>
                    <th class="text">Title </th>
                    <th class="text">Category </th>
                    <th class="text">Status </th>
                    <th class="text">Date</th>
                    <th class="text">Detail</th>
                </tr>
                {% for rs in myblogs %}
                <tr>
                <td class="text"><a href="/blog/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" style="height: 30px"></a></td>
                    <td class="text"><small>{{ rs.title }}</small></td>
                    <td class="text"><small>{{ rs.category.title }}</small></td>
                    <td class="text"><small>{{ rs.status }}</small></td>
                <td class="text"><small>{{ rs.create_at }}</small></td>
                    <td class="text"><small>{{ rs.detail }}</small></td>
                    <td class="text"><a href="/user/editblog/{{ rs.id }}"><button class="btn btn-inverse" type="button">Edit</button></a></td>
                    <td class="text"><a href="/user/deleteblog/{{ rs.id }}" onclick="return confirm('Will be delete! Are you sure?')"><button class="btn btn-inverse" type="button">Delete</button></a></td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <a href="/user"><button class="btn btn-inverse" type="button">Back</button></a> <a href="/user/addblog"><button class="btn btn-inverse" type="button">Add Blog</button></a>
{#            <a class="btn-primary" href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Will be delete! Are you sure?')">Delete</a> #}

        </div> <!--End page content column-->

        <!-- Sidebar
        ================================================== -->


    </div><!-- End container row -->

    </div> <!-- End Container -->
{% endblock %}
